permissions:
  contents: write

on:
  release:
    types: [created]

jobs:
  build:
    name: Build on ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            target: x86_64-unknown-linux-gnu
            artifact_name: libmagika_ffi.so
            asset_name: libmagika_ffi-linux-x86_64.so
          - os: macos-latest
            target: aarch64-apple-darwin
            artifact_name: libmagika_ffi.dylib
            asset_name: libmagika_ffi-macos-aarch64.dylib
          - os: windows-latest
            target: x86_64-pc-windows-msvc
            artifact_name: magika_ffi.dll
            asset_name: magika_ffi-windows-x86_64.dll

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          target: ${{ matrix.target }}
          profile: minimal

      - name: Build
        run: cargo build --release --target ${{ matrix.target }}

      - name: Upload
        uses: softprops/action-gh-release@v2
        with:
          files: target/${{ matrix.target }}/release/${{ matrix.artifact_name }}


